<header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h2 class="text-center"> Real-time flight ticket booking.</h2>
                <img id="img-logo" src="/assets/logo.png" class="img-fluid rounded" alt="Responsive image">
            </div>

            <div class="col-md-4 col-sm-12 mt-5">

                <h4>Responsive</h4>

                <h4>Resident</h4>

                <h4>Elastic</h4>

                <h4>Message-driven</h4>

                <button class="btn btn-primary mt-2">Enter application</button>
            </div>
        </div>

    </div>
</header>
